@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.burger {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  &:focus {
    outline: none;
  }

  @include respond-to("md") {
    display: flex;
  }

  div {
    width: 2rem;
    height: 0.25rem;
    background: $text-gray;
    border-radius: 10px;
    position: relative;
    transform-origin: 1px;
  }
}
