/**
 * Fonts setup
 *
 */
$fonts-path: "../assets/fonts";
$main-ff: "Boston-Regular", "Helvetica", "Arial", sans-serif;

/**
 * Typography setup
 *
 */
$headings: (
  (
    "h1",
    (
      "max-font-size": 60px,
      "min-font-size": 30px,
      "scaler": 5vw,
    )
  ),
  (
    "h2",
    (
      "max-font-size": 50px,
      "min-font-size": 25px,
      "scaler": 4vw,
    )
  ),
  (
    "h3",
    (
      "max-font-size": 30px,
      "min-font-size": 20px,
      "scaler": 3vw,
    )
  ),
  (
    "h4",
    (
      "max-font-size": 22px,
      "min-font-size": 18px,
      "scaler": 3vw,
    )
  ),
  (
    "h5",
    (
      "max-font-size": 17px,
      "min-font-size": 15px,
      "scaler": 1vw,
    )
  )
) !default;

/**
 * Colors setup
 *
 */
// Firm site color
$main-site-lavender: #e160e4;
$main-site-lavender-light: #ef94f1;
$main-site-persian-blue: #1f35d4;
$main-site-persian-blue-light: #4358f4;

//service colors
$disabled-hawkes-blue: #e5e8fe;
$disabled-periwinkle: #c3c8e9;

// Text site color's
$text-gray: #1c1c1c;
$text-light-grey: lighten($text-gray, 49.85%);

/**
 * Wrapper setup
 *
 */

$site-width: 1180px;
$site-min-width: 320px;

/**
 * Break point namespace object
 *
 */
$breakpoints: (
  ("xsm", 540px),
  ("sm", 768px),
  ("md", 992px),
  ("lg", $site-width)
) !default;
