@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 26.4em;
  margin-bottom: 1.3em;
  color: white;

  @include respond-to("md") {
    min-height: 100vh;
    padding-top: 84px;
  }

  &__text {
    padding: 0 1.3em;
    text-align: center;
  }

  &__sub-heading {
    line-height: 5em;
  }

  &__heading {
    letter-spacing: 2px;
  }

  &__description {
    max-width: 41em;
    font-size: 1.1em;
    line-height: 2em;
  }
}
